<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UpdatemovieBE</servlet-name>
        <servlet-class>MovieTicket.UpdatemovieBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletemovieBE</servlet-name>
        <servlet-class>MovieTicket.DeletemovieBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewallmovieBE</servlet-name>
        <servlet-class>MovieTicket.ViewallmovieBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersignupBE</servlet-name>
        <servlet-class>MovieTicket.UsersignupBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userloginBE</servlet-name>
        <servlet-class>MovieTicket.userloginBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatbookingBE</servlet-name>
        <servlet-class>MovieTicket.SeatbookingBE</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatemovieBE</servlet-name>
        <url-pattern>/UpdatemovieBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletemovieBE</servlet-name>
        <url-pattern>/DeletemovieBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewallmovieBE</servlet-name>
        <url-pattern>/ViewallmovieBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersignupBE</servlet-name>
        <url-pattern>/UsersignupBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userloginBE</servlet-name>
        <url-pattern>/userloginBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatbookingBE</servlet-name>
        <url-pattern>/SeatbookingBE</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
